@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles here */
main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.display-flex {
    display: flex;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.section-description {
    font-size: 1rem;
    font-weight: 400;
}

/* primary bg orange color */
.btn-primary {
    background: #FF900E;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

/* primary bg orange color */
.primary-bg-light {
    background: rgba(255, 144, 14, 0.1);
}

/* dark 01 */
.text-dark {
    color: #131313;
}

/* text primary */
.text-orange {
    color: #FF900E;
}

/* dark 02 */
.text-gray {
    color: #424242;
}

/* dark 03 */

/* header section start here */

/* nav bar styles here */
.brand {

    font-weight: 700;
    font-size: 3rem;
}

.navbar {
    justify-content: space-between;
    align-items: center;

}

.nav-links {}

.nav-link {
    text-decoration: none;
    /* font-size: 18px; */
    font-weight: 500;

}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.navbar,
.banner {

    max-width: 1440px;
    margin: 0 auto;

}

/* banner related content */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-img {
    width: 100%;
}

/* main section feature */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-feature {
    margin-left: 73px;
    min-width: 530px;
}

.feature-title {
    font-size: 2.8rem;

}

#Quick-list {
    font-weight: 500;
}

/*  feature you will you  will enjoy */
.border-left {
    border-left: 4px solid #FF900E;
    padding-left: 10px;
}

.feature-cards {

    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card-title {
    font-size: 1.35rem;
    font-weight: 600;

}

.feature-container {
    gap: 100px;
}

.feature-img {
    max-height: 982px;
}

.btn-feature {
    min-width: 258px;
    min-height: 109px;
    margin-top: -50px;
    margin-left: -50px;

}

.btn-feature>span {
    font-size: 1.1rem;
}

/* Some Facts section start here */
.card-section {
    margin-top: 100px;
    justify-content: space-evenly;
}

.section-card {


    border: .5px solid #FF900E;
    border-radius: 8px;
    width: 241px;
    height: 241px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-card-img {
    max-height: 33%;
    padding-top: 46px;
}

.section-number {
    font-size: 2.9rem;
    color: #424242;
    margin-top: 5px;
}

.section-card-text {
    font-size: 1.2rem;
    color: #424242;
    margin-top: -45px;
}

/* our-sponsor section start here */
.sponsor-info {
    max-width: 560px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-company {
    margin: 0 auto;
    justify-content: space-between;
    filter: grayscale(100%)
}

.sponsor-img {

    /* margin-right: 100px; */
}

/* footer */
.footer-p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    background: rgba(255, 244, 231, 1);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* responsive media */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .teams,
    .feature-container {
        flex-direction: column;
    }

    .team-img-container,
    .sponsor-company {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-feature {

        flex-direction: column;
        align-items: center;

    }



    .card-section {
        margin-top: 100px;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .section-card {
        margin-bottom: 30px;
    }

    .sponsor-company {
        flex-direction: column;
        align-items: center;



    }

    .sponsor-img {
        margin-bottom: 50px;
    }

    .feature-img {
        max-width: 100%;
    }

    .btn-feature {
        margin: 0 auto;
        margin-top: 50px;



    }
}

/* medium device screen */
@media screen and (min-width:577px) and (max-width:992px) {
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-feature {
        flex-direction: column;
        margin: 50px auto;
        padding: 40px;
    }

    .section-card {
        height: 141px;
        width: 141px;
    }

    .sponsor-company {
        justify-content: center;
        gap: 50px;
    }
}